# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/target/
/target/

.project
.classpath
rebel.xml
.settings/
**/.settings/
*.iml
**/.idea/
DEV_VPN.ppk
rebel-remote.xml
product-bizpack/config/*
app-resources/.idea/
out/

**/asciidoctor-cache/
**/.asciidoctor/
**/docs/**/*.html
**/docs/**/*.pdf

# DO NOT REMOVE THIS - THIS FILE SHOULD NOT BE COMMITTED - IT GENERATED DURING BUILD with -Dmodules=all
pack_dscr.properties
*.versionsBackup
app.properties
git.properties